node_modules
dist
logs
*.log
.env
coverage
.idea
.vscode
.DS_Store
*.swp
*.swo
*.bak
*.tmp
*.cache
*.tsbuildinfo
*.eslintcache
*.prettiercache
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
